<h2>欢迎来到ionic__</h2>
<p>
  这是一个个人维护的公众号，建立目的是为ionic的初学者提供学习上的帮助和转发一些ionic的资讯，当你在开发的时候遇到问题可以直接提问。
</p>
<p>
  个人兼职维护，公众号开发进度比较慢，但是新手入门教程持续更新中，感兴趣的朋友，可以点击<a href="http://blog.csdn.net/onil_chen" target="_blank">我的CSDN</a>
</p>
<p>
  这个Demo是我在别人的Demo的基础上修改的，修改了几个实现的细节。将文件分离是的代码维护更急简单。
 </p>
 <h2>欢迎来到ionic__</h2>
<p>
  这是一个个人维护的公众号，建立目的是为ionic的初学者提供学习上的帮助和转发一些ionic的资讯，当你在开发的时候遇到问题可以直接提问。
</p>
<p>
  个人兼职维护，公众号开发进度比较慢，但是新手入门教程持续更新中，感兴趣的朋友，可以点击<a href="http://blog.csdn.net/onil_chen" target="_blank">我的CSDN</a>
</p>
<p>
  这个Demo是我在别人的Demo的基础上修改的，修改了几个实现的细节。将文件分离是的代码维护更急简单。
 </p>
<h2>欢迎来到ionic__</h2>
<p>
  这是一个个人维护的公众号，建立目的是为ionic的初学者提供学习上的帮助和转发一些ionic的资讯，当你在开发的时候遇到问题可以直接提问。
</p>
<p>
  个人兼职维护，公众号开发进度比较慢，但是新手入门教程持续更新中，感兴趣的朋友，可以点击<a href="http://blog.csdn.net/onil_chen" target="_blank">我的CSDN</a>
</p>
<p>
  这个Demo是我在别人的Demo的基础上修改的，修改了几个实现的细节。将文件分离是的代码维护更急简单。
 </p>
<h2>欢迎来到ionic__</h2>
<p>
  这是一个个人维护的公众号，建立目的是为ionic的初学者提供学习上的帮助和转发一些ionic的资讯，当你在开发的时候遇到问题可以直接提问。
</p>
<p>
  个人兼职维护，公众号开发进度比较慢，但是新手入门教程持续更新中，感兴趣的朋友，可以点击<a href="http://blog.csdn.net/onil_chen" target="_blank">我的CSDN</a>
</p>
<p>
  这个Demo是我在别人的Demo的基础上修改的，修改了几个实现的细节。将文件分离是的代码维护更急简单。
 </p>
<h2>欢迎来到ionic__</h2>
<p>
  这是一个个人维护的公众号，建立目的是为ionic的初学者提供学习上的帮助和转发一些ionic的资讯，当你在开发的时候遇到问题可以直接提问。
</p>
<p>
  个人兼职维护，公众号开发进度比较慢，但是新手入门教程持续更新中，感兴趣的朋友，可以点击<a href="http://blog.csdn.net/onil_chen" target="_blank">我的CSDN</a>
</p>
<p>
  这个Demo是我在别人的Demo的基础上修改的，修改了几个实现的细节。将文件分离是的代码维护更急简单。
 </p>
<h2>欢迎来到ionic__</h2>
<p>
  这是一个个人维护的公众号，建立目的是为ionic的初学者提供学习上的帮助和转发一些ionic的资讯，当你在开发的时候遇到问题可以直接提问。
</p>
<p>
  个人兼职维护，公众号开发进度比较慢，但是新手入门教程持续更新中，感兴趣的朋友，可以点击<a href="http://blog.csdn.net/onil_chen" target="_blank">我的CSDN</a>
</p>
<p>
  这个Demo是我在别人的Demo的基础上修改的，修改了几个实现的细节。将文件分离是的代码维护更急简单。
 </p>
<h2>欢迎来到ionic__</h2>
<p>
  这是一个个人维护的公众号，建立目的是为ionic的初学者提供学习上的帮助和转发一些ionic的资讯，当你在开发的时候遇到问题可以直接提问。
</p>
<p>
  个人兼职维护，公众号开发进度比较慢，但是新手入门教程持续更新中，感兴趣的朋友，可以点击<a href="http://blog.csdn.net/onil_chen" target="_blank">我的CSDN</a>
</p>
<p>
  这个Demo是我在别人的Demo的基础上修改的，修改了几个实现的细节。将文件分离是的代码维护更急简单。
 </p>
<h2>欢迎来到ionic__</h2>
<p>
  这是一个个人维护的公众号，建立目的是为ionic的初学者提供学习上的帮助和转发一些ionic的资讯，当你在开发的时候遇到问题可以直接提问。
</p>
<p>
  个人兼职维护，公众号开发进度比较慢，但是新手入门教程持续更新中，感兴趣的朋友，可以点击<a href="http://blog.csdn.net/onil_chen" target="_blank">我的CSDN</a>
</p>
<p>
  这个Demo是我在别人的Demo的基础上修改的，修改了几个实现的细节。将文件分离是的代码维护更急简单。
 </p>
<h2>欢迎来到ionic__</h2>
<p>
  这是一个个人维护的公众号，建立目的是为ionic的初学者提供学习上的帮助和转发一些ionic的资讯，当你在开发的时候遇到问题可以直接提问。
</p>
<p>
  个人兼职维护，公众号开发进度比较慢，但是新手入门教程持续更新中，感兴趣的朋友，可以点击<a href="http://blog.csdn.net/onil_chen" target="_blank">我的CSDN</a>
</p>
<p>
  这个Demo是我在别人的Demo的基础上修改的，修改了几个实现的细节。将文件分离是的代码维护更急简单。
 </p>
<h2>欢迎来到ionic__</h2>
<p>
  这是一个个人维护的公众号，建立目的是为ionic的初学者提供学习上的帮助和转发一些ionic的资讯，当你在开发的时候遇到问题可以直接提问。
</p>
<p>
  个人兼职维护，公众号开发进度比较慢，但是新手入门教程持续更新中，感兴趣的朋友，可以点击<a href="http://blog.csdn.net/onil_chen" target="_blank">我的CSDN</a>
</p>
<p>
  这个Demo是我在别人的Demo的基础上修改的，修改了几个实现的细节。将文件分离是的代码维护更急简单。
 </p>
<h2>欢迎来到ionic__</h2>
<p>
  这是一个个人维护的公众号，建立目的是为ionic的初学者提供学习上的帮助和转发一些ionic的资讯，当你在开发的时候遇到问题可以直接提问。
</p>
<p>
  个人兼职维护，公众号开发进度比较慢，但是新手入门教程持续更新中，感兴趣的朋友，可以点击<a href="http://blog.csdn.net/onil_chen" target="_blank">我的CSDN</a>
</p>
<p>
  这个Demo是我在别人的Demo的基础上修改的，修改了几个实现的细节。将文件分离是的代码维护更急简单。
 </p>
<h2>欢迎来到ionic__</h2>
<p>
  这是一个个人维护的公众号，建立目的是为ionic的初学者提供学习上的帮助和转发一些ionic的资讯，当你在开发的时候遇到问题可以直接提问。
</p>
<p>
  个人兼职维护，公众号开发进度比较慢，但是新手入门教程持续更新中，感兴趣的朋友，可以点击<a href="http://blog.csdn.net/onil_chen" target="_blank">我的CSDN</a>
</p>
<p>
  这个Demo是我在别人的Demo的基础上修改的，修改了几个实现的细节。将文件分离是的代码维护更急简单。
 </p>
<h2>欢迎来到ionic__</h2>
<p>
  这是一个个人维护的公众号，建立目的是为ionic的初学者提供学习上的帮助和转发一些ionic的资讯，当你在开发的时候遇到问题可以直接提问。
</p>
<p>
  个人兼职维护，公众号开发进度比较慢，但是新手入门教程持续更新中，感兴趣的朋友，可以点击<a href="http://blog.csdn.net/onil_chen" target="_blank">我的CSDN</a>
</p>
<p>
  这个Demo是我在别人的Demo的基础上修改的，修改了几个实现的细节。将文件分离是的代码维护更急简单。
 </p>

